.theme-light.theme-light {
  --bg-hue: 230;
  --bg-sat: 25%;

  --color-accent: hsl(300, 72%, 35%);
  --color-accent-hsl: 300 72% 25%;
  --interactive-accent: hsl(300 72% 30%);

  --alt-heading-color: hsl(232 34% 50%);
  --secondary-accent: hsl(28 54% 51%);
  --hover-accent: hsl(328 100% 54%);
  --link-unresolved-color: hsl(101 42% 51%);
}

.theme-dark.theme-dark {
  --bg-hue: 230;
  --bg-sat: 15%;

  --color-accent: hsl(300, 78%, 40%);
  --color-accent-hsl: 300 72% 15%;
  --interactive-accent: hsl(300, 70%, 35%);

  --alt-heading-color: hsl(232 50% 70%);
  --secondary-accent: hsl(28 63% 61%);
  --hover-accent: hsl(328 100% 64%);
  --link-unresolved-color: hsl(101 42% 51%);
}
